:root {
    --white: #FFF7F1;
    --black: #282828;
    --blue: #74C7B8;
    --dark_blue: #2c6d61;
    --green: #9BB899;
    --yellow: #FCCEAA;
    --orange: #F5827D;
    --red: #EA4961;

    --brown: #975e44;
    --white-ad: #fff7f1ad;
    --white-90: #FFF7F190;

    --ex-theme: #F5827D;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

body { 
    background-color: var(--white);
}

h1, h2, h3, h4, p, a {
    color: var(--black);
}

.nadpis--semi-transparent{
    opacity: 0.5;
}

/*---Strong---*/

.strong--orange {
    color: var(--orange);
}

.strong--yellow {
    color: var(--yellow);
}

.strong--blue {
    color: var(--blue);
}

.strong--exlusive{
    background-image: linear-gradient(135deg, var(--red), var(--orange), var(--yellow));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.strong--solid {
    opacity: 1;
}

nav, footer {
    transition: all 0.5s;
    background-color: var(--green);
}

footer::before {
    background-color: var(--black);
}

/*----a-----*/
.odkazy a {
    color: #2997ff;
}


.odkazy a {
    background: 
      linear-gradient(to right, #2997ff, #0084ff);
    background-size: 0 0.09em;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 300ms;
  }
  
  a:hover,
  a:focus {
    background-size: 100% 0.09em;
  }
/*
  .odkazy a:hover {
    text-decoration: underline;
}*/


/*------SHOP ---------*/
.shop__section__item--white {
    background-image: linear-gradient(135deg, #e8e5e5, #fafafa);
}
/*
.shop__section__item--strawberry {
    background-image: linear-gradient(135deg, , #EE3080,  #DE5D9C);
}

.shop__section__item--blueberry {
    background-image: linear-gradient(135deg, #2d81f7, #699edf);
}
.shop__section__item--vanilla {
    background-image: linear-gradient(135deg, #f9c57d, #f9df9c);
}*/

.shop__section__item--strawberry {
    background-image: linear-gradient(135deg, #ee3f88, #EE3080, #f892c3, #DE5D9C);
}

.shop__section__item--blueberry {
    background-image: linear-gradient(135deg, #3b8dff, #2d81f7, #91bcf0, #699edf);
}

.shop__section__item--vanilla {
    background-image: linear-gradient(135deg, #fcbb61, #f8b556, #f7e3af, #f9df9c);
}

.shop__section__item--chocolate {
    background-image: linear-gradient(135deg, #925043, #85473a, #96725c, #9c7a66);
}

.shop__section__item {
    box-shadow: 0px 0px 0.5rem -2px #2828288c;
}

.shop__section__item:hover {
    box-shadow: 0px 2px 0.5rem 2px #2828288c;
}


/*-------product-----*/

a.btn--product{
    background-color: #2997ff;
    color: var(--white);
}

a.btn--product:hover{
    background-color: #4aa5fb;
}


/*-------exclusive-----*/

.exclusive__collor-selector--orange {
    background-color: var(--orange);
}
.exclusive__collor-selector--blue {
    background-color: var(--blue);
}
.exclusive__collor-selector--yellow {
    background-color: var(--yellow);
}
.exclusive__collor-selector--brown {
    background-color: var(--brown);
}


:root:has(.exclusive__collor-selector__selector[value="orange"]:checked){
    --ex-theme: var(--orange);
}
:root:has(.exclusive__collor-selector__selector[value="blue"]:checked){
    --ex-theme: var(--blue);
}
:root:has(.exclusive__collor-selector__selector[value="yellow"]:checked){
    --ex-theme: var(--yellow);
}
:root:has(.exclusive__collor-selector__selector[value="brown"]:checked){
    --ex-theme: var(--brown);
}

.theme-collor{
    background-color: var(--ex-theme);
}

.exclusive__section__grid-item, .exclusive__item--white-card {
    background-color: var(--white-90);
    border: 0.2rem solid var(--white-ad);
}


body:has(.exclusive__collor-selector__selector[value="orange"]:checked) .exclusive__header__img--orange{
    opacity: 1;
}
body:has(.exclusive__collor-selector__selector[value="blue"]:checked) .exclusive__header__img--blue{
    opacity: 1;
}
body:has(.exclusive__collor-selector__selector[value="yellow"]:checked) .exclusive__header__img--yellow{
    opacity: 1;
}
body:has(.exclusive__collor-selector__selector[value="brown"]:checked) .exclusive__header__img--brown{
    opacity: 1;
}

.exclusive__collor-selector__selector:checked + span {
    border-color: var(--black);
}

.exclusive__header{
    background-repeat: no-repeat;
    background-position: center 25%;
    background-size: cover;
}



/*----Swiper------*/

.swiper-button-next, .swiper-button-prev {
    color: var(--black);
}

.swiper-pagination-bullet-active{
    background-color: #282828;
}

/*---------Kontakt--------------*/

.kontakt-form input, .kontakt-form textarea {
    background-color: var(--blue);
}

.kontakt-form .form-submit {
    background-color: var(--orange);
}