.card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.card__items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    top: 5%;
    justify-items: center;
    gap: 0.5em;
}

.card__items--1x1 {
    left: 5%;
    width: 90%;
    height: 90%;
    align-content: space-between;
    justify-items: start;
}

.odkazy--right{
    justify-self: end;
}

header, header picture img {
    height: 80vh;
    object-position: top center;
}

.swiper {
    width: 100%;
    max-height: 1200px;
  }

.gallery{
    margin: 1em 0em 0em 0em;
    display: grid;
    gap: 1em
}

.gallery__slide {
    position: relative;
}

.gallery__btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--yellow);
    padding: 0.75em;
    border-radius: 1.5em;
}

.gallery h2 {
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .grid-item--width2 {
        max-height: calc((100vw - 60px)/1);
        height: 75vh;
    }

}

@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .grid-item--width2 {
        grid-column: span 1;
        height: 75vh;
        max-height: calc((100vw - 60px)*2);
    }

}


