body { 
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    overflow: visible;
}



/*--------------------Grid----------------------*/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}

.grid--one-col {
    grid-template-columns: 1fr;
    gap: 1.25rem;
}

.grid-item--1x1, .grid-item--1x1 picture img{
    aspect-ratio: 1 / 1;
}

.grid-item--width2 {
    grid-column: span 2;
    height: 80vh;
    max-height: calc((100vw - 60px)/2);
}

.grid-item--height2 {
    grid-row: span 2;
}

@media only screen and (max-width: 800px) {
    .grid-item--width2 {
        max-height: calc((100vw - 60px)/1);
        height: 75vh;
    }

}

@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .grid-item--width2 {
        grid-column: span 1;
        height: 75vh;
        max-height: calc((100vw - 60px)*2);
    }

}



/*-----input--------*/
.input--hidden {
    display: none;
}



/*----------------a.btn------------------*/
a.btn {
    display: block;
}

a.btn--product{
    padding: 0.5em 1em;
    width: fit-content;
    border-radius: 1.5em;
    margin: 0.75em 0rem 0.5em 0rem;
}

.odkazy {
    display: flex;
    gap: 1em;
}



/*-------------------------------Nav-------------------------------*/

nav {
    position: sticky;
    top: 5px;
    z-index: 10;
    border-radius: 15px;
    margin: 0px 2.5rem;
    height: 5vh;
    min-height: 50px;
    width: calc(100% - 80px);
}

menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    padding: 0;
    height: calc(100% - 16px);
}

.menu__middle {
    display: flex;
    gap: 1em;
}

.nav__li--1x1 {
    height: 100%;
    aspect-ratio: 1/1;
    display: block;
}

.nav__li--1x1 img{
    height: 100%;
    border-radius: 10px;
}

.nav__cart{
    height: 75%;
    margin: 0.25%;
    cursor: pointer;
}

.nav__cart img{
    border-radius: 0px;
}

@media only screen and (min-width: 1440px) {
    nav {
        height: 6vh;
    }
}



/*------------------------FOOTER-----------------------------*/

footer p {
    margin: 0.5em 0em;
}

footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.footer__menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer::before {
    content: "";
    width: 100%;
    height: 1px;
    order: 1;
}

.footer__menu__list {
    margin: 1em 2em;
    padding: 0;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    flex-wrap: wrap;
    order: 2;
}



/*-------------------------------Home Page-----------------------------*/

.card {
    position: relative;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card__items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    top: 5%;
    justify-items: center;
    gap: 0.5em;
}

.card__items--1x1 {
    left: 5%;
    width: 90%;
    height: 90%;
    align-content: space-between;
    justify-items: start;
}

.odkazy--right{
    justify-self: end;
}

.landing__header, .landing__header picture img {
    height: 80vh;
}

.swiper {
    width: 100%;
  }

/*----Home-Gallery-----*/

.gallery{
    margin: 1em 0em 0em 0em;
    display: grid;
    gap: 1.25em
}

.gallery__slide {
    position: relative;
}

.gallery__btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--yellow);
    padding: 0.75em;
    border-radius: 1.5em;
}

.gallery h2 {
    text-align: center;
}



/*----------------------------Shop-----------------------------*/

.shop__main--margin {
    margin: 0px 0px 0px max(20px, 4vw) ;
}

.shop section {
    margin-top: 60px;
    display: grid;
}

.nadpis--shop{
    display: inline;
}

.shop .swiper{
    max-height: calc((450px / 4) * 5);
    padding: 2em;
    width: calc(100% - 4em);
}

.shop__section__items .swiper-slide{
    flex-shrink: 1;
    width: auto;
}
    
.shop__section__item{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
    min-height: 260px;
    min-width: 208px;
    width: 20vw;
    max-width: 400px;
    aspect-ratio: 3/4;
    padding: 0.5em;
    border-radius: 20px;
    transition: all 0.2s;
    margin: 0em 1rem 0em 0em;
}

.shop__section__item--exclusive {
    grid-template-rows: 30% 70%;
    aspect-ratio: 4/5;
    min-width: 228px;
    width: 25vw;
    max-width: 400px;
}

.shop__section__item:hover {
    transform: scale(1.05);
}

.shop__item__img{
    border-radius: calc(20px - 0.5em);
}

.shop__section__item p, .shop__section__item h3 {
    margin: 0.5em 0em 0.5em 0em;
    text-align: center;
}



/*--------------------------------exclusive---------------------------*/
.exclusive__header{
    padding: 60vh 0vh 0vh 0vh;
    height: 30vh;
    width: 100%;
}

.exclusive__header__nadpis {
    margin: 0em 2rem;
    display: grid; 
    justify-items: center;
}

.exclusive__header__nadpis h1 {
    margin: 0px;
    text-align: center;
}

.exclusive__collor-selector__item{
    position: relative;
    aspect-ratio: 1;
    width: 1.75rem;
}

.exclusive__collor-selector--collor{
    position: absolute;
    font-size: 0;
    aspect-ratio: 1;
    width: 1.75rem;
    border-radius: 50%;
    top: 0;
    left: 0;
    border: 3px solid #28282800;
    cursor: pointer;
}

.exclusive__header__img {
    position: absolute;
    top: 0;
    object-position: center 20%;
    z-index: -2;
    opacity: 0;
    transition: all 0.5s;
}

.exclusive__header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #FFF7F180, var(--white), var(--white));
    z-index: -1;
}

.collor-selector {
    display: flex;
    gap: 1em;
    height: 50px;
    width: 100%;
    justify-content: center;
}

.exclusive__main {
    margin: 20vh 10vw;
    gap: 10vh;
}

.exclusive__section__grid {
    gap: 1.25em;
    height: calc(50vh + 4 * 1.25rem + 0.8rem);
    padding: 1.25rem;
    border-radius: 1.5rem;
    transition: all 0.5s;
}

.exclusive__section__grid-item{
    border-radius: 0.5rem;
    overflow: hidden;
    
}

.exclusive__section__grid > div {
    height: calc(100% - 0.4rem - 2 * 1em);
    padding: 1em;
    animation: slide-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 50vh;
}

@keyframes slide-in {
    from{
        transform: translateX(20%);
        opacity: 0.5;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
} 


@media only screen and (max-width: 800px) {
    .exclusive__section__grid {
        grid-template-columns: 1fr;
        gap: 1em;
        height: auto;
    }
}

.exclusive__reviews > div {
    justify-items: center;
}

.exclusive__review {
    border-radius: 1.5rem;
    padding: 0.75rem;
    max-width: 75rem;
    width: 100%;
    animation: scale-down-up-down linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: cover;
}

@keyframes scale-down-up-down {
    0%{
        transform: scale(0.95);
        opacity: 0.9;
    }
    35% {
        transform: scale(1.05);
        opacity: 1;
    }
    60% {
        transform: scale(1.07);
        opacity: 1;
    }
    85% {
        transform: scale(1.05);
        opacity: 1;
    }
    100%{
        transform: scale(1.05);
        opacity: 0.9;
    }
} 

.exclusive__review-inside {
    display: flex;
    border-radius: 1rem;
    gap: 1.25rem;
    padding: 0.75rem;
    align-items: center;
    
}

@media only screen and (min-width: 601px) {
    .exclusive__review-inside--switched{
        justify-content: space-between;
    }
    .exclusive__review-inside--switched picture{
        order: 1;
    }}

.exclusive__review__profile-pic {
    max-width: 12.5rem;
    min-width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .exclusive__review-inside{
        justify-content: center;
        flex-wrap: wrap;
    }
    .exclusive__review__profile-pic {
        max-width:calc(100% - 0.5rem - 0.75rem);
        padding: 0.5rem;
    }}

/*-----------------------------Kontakt--------------------------*/

.kontakt-container {
    padding: 0rem 1.75rem 1.75rem 1.75rem;
}

.kontakt-form, .kontakt-table {
    width: 100%;
    justify-items: center;
}

.kontakt-form input, .kontakt-form textarea{
    width: calc(100% - 1.5em);
    max-width: 25rem;
    padding: 0.75em;
    border-radius: 1rem;
    border: none;
}

.kontakt-form .form-submit{
    width: 100%;
    max-width: 26.25rem;
}



