h1 {
    font-size: 3.25rem;
}

h2, .podnadpis, .nadpis{
    font-size: 1.75rem;
}

.nadpis {
    font-weight: bold;
}

h4 {
    margin: 0em 0em 0.5em 0em;
    font-size: 1em;
}

nav a {
    font-size: 0.85rem;
}

.card__items h1, .card__items p{
    text-align: center;
}

.odkazy a{
    font-size: 1.2rem;
}
.odkazy a:hover{
    text-decoration:underline;
}

footer a, footer p{
    font-size: 0.75rem;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 2.75rem;
    }

    .nadpis {
        font-size: 1.75rem;
    }
    
    .podnadpis{
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 2.25rem;
    }

    .nadpis {
        font-size: 1.60rem;
    }
    
    .podnadpis{
        font-size: 1.15rem;
    }

    .odkazy a{
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1440px) {
    :root{
        font-size: calc(16px + 0.5vw);
    }
}
