h1, .nadpis--hlavni {
    font-size: 3rem;
}

h2, .podnadpis, .nadpis{
    font-size: 1.75rem;
}

.nadpis, .nadpis--hlavni {
    font-weight: bold;
}

h4 {
    margin: 0em 0em 0.5em 0em;
    font-size: max(0.9rem, 16px);
}

nav a {
    font-size: 0.85rem;
}

.card__items h1, .card__items p{
    text-align: center;
}

.odkazy a{
    font-size: 1.2rem;
}

a.btn--product{
    font-size: 1.2rem;
}

a.btn--product + p{
    margin: 0;
}

footer a, footer p{
    font-size: max(0.7rem, 12px);
}


@media only screen and (max-width: 850px) {
    .nadpis--hlavni {
        font-size: 2.75rem;
    }

    .nadpis--hlavni + .podnadpis{
        font-size: 1.50rem;
    }

}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 2.75rem;
    }

    .nadpis {
        font-size: 1.75rem;
    }
    
    .podnadpis{
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 400px) {
    h1, .nadpis--hlavni {
        font-size: 2.25rem;
    }

    .nadpis {
        font-size: 1.60rem;
    }
    
    .podnadpis{
        font-size: 1.15rem;
    }

    .odkazy a{
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1440px) {
    :root{
        font-size: calc(16px + 0.2vw);
    }
    .nadpis {
        font-size: 2.15rem;
    }
    .nadpis--shop {
        font-size: 1.60rem;
    }

}

@media only screen and (min-width: 2000px) {
    :root{
        font-size: calc(16px + 0.4vw);
    }

}

